* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: #191921;
    --light-purple:#9D90FC;
}

html, body {
    color: white;
    background-color: var(--body-bg);
    font-family: 'Poppins', sans-serif ;
    max-width: 1200px;
    margin:auto;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}

/* Navbar design starts here  */
div.navbar{
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: space-between;
}
div.logo {
    font-size: 1rem;
    font-weight: bold;
}

div.navbar ul {
    display: flex;
    align-items: center;
}

ul.navbar-ul li {
    text-decoration: none;
    list-style: none;
}

button {
   padding: .8rem 2rem;
   border-radius: 1.6rem;
   background-color: var(--light-purple);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
   width: fit-content;
}
.navbar button {
    margin-left: 1rem;
   padding: .8rem 2rem;
   border-radius: 1.6rem;
   background-color: var(--light-purple);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}

div.section-1 {
    display: flex;
    align-items: center;
}

div.intro-content {
    display: flex;
    flex-direction: column;
}

h1.intro-head {
  font-size: 36px;
  text-align: left;
  width: 80%;
}

p.intro-content {
    width: 80%;
    margin: 1.6rem  auto 1.6rem 0 ;
    text-align: left;
}

@keyframes hero-animation {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}
.astro-monk-illust{
    transition: all 0.2s ease;
    animation: hero-animation 4s infinite;
}

div.section-2 {
    display: flex;
    flex-direction: column;
    margin: 8rem auto 0rem auto;
    position: relative;
}

h1.mood-selection-head {
    font-size: 36px;
    text-align: center;
}

div.mood-selection-section {
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    align-items: center;
}

div.mood-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

div.mood-list div {
    justify-content: center;
    margin: auto;
    width: 100%;
}

@keyframes cloud-float {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

div.mood-list div img {
    transition: all 0.2s ease;
    animation: cloud-float 5s infinite;
}

div.mood-list :nth-child(2) img {
    animation-delay: 2.5s;
}


div.capture-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.direction-for-capture {
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: center;
}

button.capture-btn {
    height: 3.5rem;
    width: 15rem;
    border-radius: 2.5rem;
    margin: 1rem auto;
}



/* Media queries */
@media only screen and (max-width: 600px) {
    html, body{
        overflow-x: hidden;
        margin: 0 0.8rem;
    }
    .section-1{
        flex-direction: column;
    }
    .mood-selection-section{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
    }
    .astro-man-illust{
        order: 0;
    }
    .mood-left-list{
        order: 1;
        margin-bottom: 1rem !important;
    }
    .mood-right-list{
        order: 2;
    }
    div.mood-list div{
        width: fit-content;
    }
    div.mood-list div img{
        animation: none;
    }
    p.reason-for-direct{
        margin-top: 2rem;
    }
}

/* footer */
.footer{
    /* background-color: var(--light-purple); */
    padding: 1rem 0;
    border-top: 1px solid var(--light-purple);
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.footer a{
    color: var(--light-purple);
}