h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 2rem auto 3rem auto;
}

.team {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    width: 80%;
    margin: auto;
}

.team-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: fit-content;
    border-radius: 20px;
}

.play:hover{
    box-shadow: 2px 2px 15px 5px grey;
    transition: 0.5s ease-in-out;
}

.team-card:hover {
    box-shadow: 2px 2px 15px 5px black;
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.socials {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.icon {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
}

.icon:hover {
    box-shadow: 2px 2px 15px 5px grey;
    transition: 0.3s ease-in-out;
}

img {
    user-zoom: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
